---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>
  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    
    <div class="page__hero" style="background-image: url('{{ page.hero_image | default: '/images/softcolours.jpg' }}');">
      <div class="page__hero-overlay">
        <h1>{{ page.title | default: '' }}</h1>
      </div>
    </div>


    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
